aiohttp>=2.0.6
git+https://github.com/Rapptz/discord.py@rewrite#egg=discord.py[voice]
discord.py>=1.0.0.a1340
Pillow>=4.0.x
psutil
youtube_dl
beautifulsoup4
python_dateutil
humanize
chardet==3.0.4
DateTime==4.2
Django==1.11.7
node==0.9.22
python-dateutil==2.6.1
PythonGists==1.1.3
requests==2.18.4
wcwidth==0.1.7
websockets==3.4
yarl==0.16.0
